<div class="col-sm-6 offset-sm-3">
	<div class="list-group">
		<% @institutions.each do |inst| %>
		<a href="/institutions/<%= inst.slug %>" class="list-group-item list-group-item-action"><%= inst.name %></a>
		<% end %>
	</div>
</div>

