<% if flash.has?(:message) %>
<div class="col-sm-6 offset-sm-3">
	<div class="alert alert-success text-center"><%= flash[:message] %></div>
</div>
<% end %>

<div class="col-sm-6 offset-sm-3">
	<form action="/login" method="POST">
		<h2>Login</h2>

		<div class="form-group">
			<label for="name">Email: </label>
			<input type="email" class="form-control" name="artist[email]" id="email">
		</div>

		<div class="form-group">
			<label for="password">Password</label>
			<input type="password" name="artist[password]" id="password" class="form-control">
		</div>

		<button type="submit" class="btn btn-outline-secondary"> <i class="fas fa-sign-in-alt"></i> Login</button>
	</form>
</div>