<div class="col-sm-6 offset-sm-3">
	<div class="card" style="">
	  <div class="card-header">
	    <i class="fas fa-user"></i> Profile
	  </div>
	  <ul class="list-group list-group-flush">
	    <li class="list-group-item">Name: <%= @artist.name %></li>
	    <li class="list-group-item">Email: <%= @artist.email %></li>
	  </ul>
	  <div class="d-flex justify-content-start align-items-center card-body py-2 pl-3">
	  	<a href="/artists/<%= @artist.slug %>/edit" class="btn btn-outline-secondary"><i class="far fa-edit"></i> Edit Profile</a>
	  	<form action="/artists/<%= @artist.slug %>" method="POST">
	  		<input type="hidden" name="_method" value="DELETE">
	  		<input type="submit" value="Delete Account" class="btn btn-outline-danger ml-2">
	  	</form>
	  </div>
	</div>
</div>