<div class="col-sm-12">
	<div class="jumbotron">
		<h1 class="display-4">Welcome to SlideDoom!</h1>
		<p class="lead">Create applications to submit to institutions.</p>
		<hr class="my-4">
		<a class="btn btn-secondary btn-lg" href="/register" role="button">Register</a>
	</div>
</div>
